.header-container {
  border: 5px solid red;
  background-color: green;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  height: 100px;
}

.header-title {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 20px;
}
