.header-container {
  border: 5px solid red;
  background-color: green;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  height: 100px;
}

.header-title {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 20px;
}

.navlink-container {
  display: flex;
}

.navlink {
  margin: 15px;
  cursor: pointer;
}

a {
  text-decoration: double underline;
  font-family: "fantasy";
  font-size: 25px;
  font-weight: 500;
  caret-color: transparent;
  color: white;
}

a:hover {
  text-decoration: wavy underline;
}
